name: test

on:
  push:
    branches:
      - "main"
      - "v*.*.*"
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.0.0
      - uses: actions/setup-node@v2
        with:
          node-version: "19.3.0"
      - uses: erlef/setup-beam@v1
        with:
          otp-version: false
          gleam-version: "0.30.5"
      - run: gleam test
      - run: gleam format --check src test
